@font-face{font-family:P;src:local('Uiua386'),url(Uiua386.ttf)} *{font-family:P;text-decoration:none}
i{display:none}
html,body{height:100%}
body{display:flex;flex-flow:column;margin:auto;max-width:max(85vw,900px); font-size:16px;
  overflow:hidden;position:relative;color:#222;  content:"w";background:#ddd                   }  .w{background:#ddd;filter:invert(0)}
@media(prefers-color-scheme:dark){body[class=""]{content:"g";background:#444;filter:invert(.85)} body[class=""] .noinv{filter:invert(1)} body[class=""] .tk-s{color:#20f9fc} body[class=""] .tk-tra{-webkit-text-stroke:unset}}
.g{background:#444;filter:invert(.85)} .g .noinv{filter:invert(1)} .g .tk-s{color:#20f9fc} .g .tk-tra{-webkit-text-stroke:unset}
@media(prefers-contrast:more)    {body[class=""]{content:"b";background:#222;filter:invert(1)} body[class=""] .noinv{filter:invert(1)} }
.b{background:#222;filter:invert(1)} .b .noinv{filter:invert(1)}
.f{display:flex} .h{padding:0.5em}
.o,#m{margin:0 0.35em} label{margin-left:0.35em}
#q{flex:1;border:none;font-size:medium;margin-right:-1.5em} #x{margin-right:0.5em}
p{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:1ex 0 0 0}
a:hover,a:focus,tr:hover td{color:#000}
.o {height:1em;border-radius:1em;border:.25ex solid currentcolor;width:1em;line-height:1em}
a{place-self:center;display:inline-block;text-align:center;color:unset;
  -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
#m{letter-spacing:-.25ex;font-size:133%;margin-top:-0.15em}
#y{background:#fff;height:100%;flex: 1 1 auto;position:relative;margin:0 0.5em}
#k{overflow-y:scroll;overflow-x:hidden;position:absolute;top:0;left:0;right:0;bottom:0;height:100%;width:100%;box-sizing:border-box}
#t{width:100%;table-layout:fixed;color:#333;white-space:pre-wrap;word-wrap:break-word}
td{padding:.5em}
td a{margin-right:0.75em;color:#bbb}
tbody tr:nth-child(even) {background: #f3f3f3;}
td:nth-child(2) a:before{display:inline-block;position:relative;margin-left:0.33ex;line-height:0;content:' docs';
  border:0.6ex solid transparent;border-left:1ex solid currentcolor;border-right:none}
#u{flex:1;text-align:center}
#w{background:linear-gradient(to right,currentcolor 50%,transparent 50%)}
@media(max-width:910px){s{display:none}}
@media(max-width:420px){.o,#m{display:none} #u{text-align:right} #q{margin-right:0}}
tr :nth-child(1){width: 30%; text-align: right}
tr :nth-child(2){width: min(10vw, 50px)}
tr :nth-child(3){width: 70%}
tr :nth-child(4){width: min(20vw, 220px)}
tr :nth-child(5){width: min(15vw, 150px)}
.tk-n{color:#f08050}.tk-s{color:#1c9}.tk-mf{color:#95d16a}.tk-df{color:#54b0fc}.tk-mm{color:#f0c36f}.tk-dm{color:#cc6be9}
.tk-tra,.tk-bot{background-size:100%;background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.tk-tra{-webkit-text-stroke:0.01em #000;background-image: linear-gradient(180deg,#5BCEFA 34%,#F5A9B8 34%,#F5A9B8 45%,#FFFFFF 45%,#FFFFFF 56%,#F5A9B8 56%,#F5A9B8 67%,#5BCEFA 67%)}
.tk-bot{background-image:linear-gradient(180deg,#D60270 45%,#9B4F96 45%,#9B4F96 64%,#0038A8 64%)}